.features {
    text-align: center;
    > .container {
        .main-title {
            .subtitle {
                margin-block-end: 30px;
                @media (min-width: 992px) {
                    margin-block-end: 40px;
                }
            }
            @media (min-width: 768px) {
                .h2 {
                    --fs-1: 3.5rem;
                }
            }
        }
        .list {
            display: grid;
            gap: 10px;
            @media (min-width: 575px) {
                grid-template-columns: 1fr 1fr;
                column-gap: 20px;
            }
            @media (min-width: 992px) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media (min-width: 1200px) {
                gap: 25px;
            }
            .item {
                position: relative;
                transition: var(--main-transition) ease-in-out;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 40%;
                    background-color: var(--card-bg-2);
                    border-radius: var(--radius-10);
                    z-index: -1;
                    transition: var(--main-transition) ease-in-out;
                }
                &:hover {
                    transform: translateY(-10px);
                    transition: var(--main-transition) ease-in-out;
                }
                .card {
                    background-color: var(--card-bg-1);
                    box-shadow: var(--shadow-2);
                    margin: 20px;
                    padding: 20px;
                    border-radius: var(--radius-10);
                    text-align: center;
                    transition: var(--main-transition) ease-in-out;
                    @media (min-width: 1200px) {
                        padding: 30px;
                    }
                    .icon {
                        color: var(--secondray-color);
                        font-size: 35px;
                        max-width: max-content;
                        margin-inline: auto;
                        .i {
                            --ionicon-stroke-width: 35px;
                        }
                    }
                    .desc {
                        .title {
                            margin-block: 18px 15px;
                            color: var(--font-color-4);
                        }
                        .text {
                            font-size: var(--fs-4);
                            line-height: 1.8;
                            color: var(--gray-color);
                        }
                    }
                }
            }
        }
    }
}
